.wrapper {
  min-height: 100vh;
  background-color: #f1e2ff;
  padding-top: 100px;
}

.container {
  width: 80%;
  /* margin-top: 100px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
}

.title {
  background-color: #d9d9d9;
}

.items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  /* border: 1px solid; */
}

.item {
  width: 350px;
  /* border: 1px solid; */
  padding-bottom: 15px;
}

.imageBlock {
  width: 100%;
  height: 300px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.imageBlock a {
  border: 1px solid;
  padding: 3px 17px;
  background-color: #757373;
  text-decoration: none;
  color: black;
}
.textBlock {
  padding: 0 20px;
  text-align: justify;
}

