.wrapper {
  background-color: #ddfee9;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  min-height: 800px;
  flex-direction: column;
  justify-content: space-between;

}

.skills {
  display: flex;
  border: 1px solid;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  
}
.title {
  background-color: #d9d9d9;
}