.wrapper {
  background-color: #ebffe4;
  height: 30vh;
}
.container {
  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
}
.text {
  font-size: 22px;
  background-color: #d9d9d9;
  font-weight: 700;
  text-align: center;
}
.block {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
  gap: 10px;
  height: 45px;
  
}
.grey {
  min-width: 45px;
  background-color: #d9d9d9;
}